@import '../base/base';



.side-bar__wrapper{
  position: fixed;
  @include switchRem(width, .64);
  @include switchRem(top, 1.33);
  right: 0;
  @include switchRem(padding, .21 .11);
  background-color: rgba(245,245,245, .6);
  z-index: 999;

  .side-bar__tar{
    display: block;
    @include switchRem(margin, .16 0);
    @include switchRem(font-size, .37);
    color: $fontColor;
    text-align: center;
    line-height: 1;
  }
}

.index-list__wrapper{
  position: fixed;
  z-index: 9;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;

  .index-list__content{
    width: 100%;

    .list__content{
      .list__title{
        @include switchRem(padding, .53 0 .27);
        background-color: $bgColor;
        @include switchRem(font-size, .37);
        color: #666666;
        @include switchRem(text-indent, .4);
      }

      .list__sub-item{
        box-sizing: border-box;
        @include switchRem(line-height, 1.28);
        @include switchRem(font-size, .43);
        color: $fontColor;
        background-color: $white;
        border-bottom: 1px solid $borderColor;

        &:last-child{
          border: none;
        }

        .list__sub-item-name{
          @include switchRem(margin-left, .4);
        }

        .city__list{
          box-sizing: border-box;
          display: flex;
          flex-wrap: wrap;
          @include switchRem(padding, .4 0 0 .4);
          background-color: #ebebeb;

          .city__item{
            box-sizing: border-box;
            @include switchRem(width, 1.85);
            @include switchRem(height, .8);
            @include switchRem(margin, 0 .36 .4 0);
            border: 1px solid #f0f0f0;
            background-color: $white;
            border-radius: 4px;
            text-align: center;
            @include switchRem(line-height, .8);
            @include switchRem(font-size, .32);
            color: #666666;
          }
        }
      }
    }
  }
}
